<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/new_style.css" />
        {% block script %}
        {% endblock %}

                <!--<img src="/static/3d_sphere-wide.jpg" alt="Маленькая картинка" title="Маленькая картинка" width=100%>-->
    </head>
    <body>
        <header>
            <h1>City Gallery</h1>
            {% if session.logged_in %}
                {% if session.admin %}
                    <div class="user"> Admin={{session.user_login}}</div>
                {% else %}
                    <div class="user"> User={{session.user_login}}</div>
                {% endif %}
            {% endif %}
        </header>

        <nav>
        <div> <a href="/start">Home page</a> </div>
        <div> <a href="/login">Login</a> </div>
        {% if session.logged_in %}
            <div> <a href={{'/task/'+session.user_login}}>Task</a> </div>
            <div> <a href='/logout'> Logout </a> </div>
            {% if not session.admin %}
                <div> <a href={{'/user_data/'+session.user_login}}> User_data </a> </div>
            {% endif %}
        {% endif %}
        {% if session.admin %}
            <div> <a href='/show_all_users'> Show_all_users </a> </div>
        {% endif %}
        <div> <a href='/registered_user'> Registered </a> </div>
        <div> <a href='/content'> Content </a> </div>
        <div> <a href='/upload_file'> Upload file </a> </div>
        <div> <a href='/uploaded_files'> Uploaded files </a> </div>

        Tokyo<br>
        </nav>

        <section>
            {% for message in get_flashed_messages() %}
                <div id="flash_massage" class=flash>{{ message }}</div>
            {% endfor %}
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            {% block section %}
            {% endblock %}
        </section>

        <footer>
            <div> Copyright © W3Schools.com </div>
        </footer>
    </body>
</html>
