{% extends "new_base.html" %}
{% block section %}
<fieldset>
    <legend><h2>Registered</h2></legend>
    <form action="{{ url_for('registered_user') }}" method=post>
        <dl>
            <dt>User_login:
            <dd><input type=text name=user_login value="{{user_data.user_login}}">
            <dt>Username:
            <dd><input type=text name=user_name value="{{user_data.user_name}}">
            <dt>User_s_name:
            <dd><input type=text name=user_s_name value="{{user_data.user_s_name}}">
            <dt>User_class:
            <dd><input type=text name=user_class value="{{user_data.user_class}}">
            <dt>User_mail:
            <dd><input type=text name=user_mail value="{{user_data.user_mail}}">
            <dt>Password:
            <dd><input type=password name=user_password value="{{user_data.user_password}}">
            <p>
            <dd><input type=submit value=Registered>
        </dl>
    </form>
</fieldset>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/yelow_color_field.js"></script>

<!--<img src="/static/3d_sphere-wide.jpg" alt="Маленькая картинка"-->
<!--title="Маленькая картинка" width=100%>'-->
{% endblock %}