{% extends "base.html" %}
{% block content %}
<h2>Parameter {{ param.name }}</h2>
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<fieldset>
    <legend>Personal information:</legend>
    <form action="{{ url_for('update_param') }}" method=post>
            <dt>name:
            <dd><input type=text name=name value="{{ param.name }}" readonly>
            <dt>full_name:
            <dd><input type=text name=full_name value="{{ param.full_name }}">
            <dt>desc:
            <dd><input type=text name=desc value="{{ param['desc'] }}">
            <dt>identifier:
            <dd><input type=text name=identifier value="{{ param.identifier }}">
            <dt>units:
            <dd><input type=text name=units value="{{ param.units }}">
            <dd><input type=submit value=Update>
    </form>
</fieldset>
{% endblock %}
