{% extends "new_base.html" %}
{% block section %}

    <h1>Task</h1>
    {% if session.logged_in %}
        <form action="{{ url_for('add_task') }}" method=post class=add-entry>
            <dl>
                <dt>Title :
                <dd><input type=text size=30 name=title>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=400></textarea>
                <dd><input type=submit value=Share>
            </dl>
        </form>
        <form action="{{ url_for('add_task') }}" method=post width=45%>
            <dd><input type=submit value=Drop>
        </form>
    {% endif %}
    <div class=title> </div>
    <table class=sub_title>
        <tr>
            {% for name in ['id', 'task', 'value'] %}
                <th> {{name}} </th>
            {% endfor %}
        </tr>
    </table>
{% endblock %}