{% extends "new_base.html" %}
{% block section %}

    <h1>Task</h1>
    {% if session.admin %}
        <form action="{{ url_for('add_task') }}" method=post class=add-entry>
            <dl>
                <dt>User:
                <dd><textarea class=task name=user_login></textarea>
                <dt>Task:
                <dd><textarea class=task name=user_task></textarea>
                <dd><input type=submit value=Add>
            </dl>
        </form>
        <form action="{{ url_for('add_task') }}" method=post width=45%>
            <dd><input type=submit value=Drop>
        </form>
    {% endif %}
    <div class=title> </div>
    <table class=sub_title>
        <tr>
            {% for name in ['id', 'time', 'task', 'value'] %}
                <th> {{name}} </th>
            {% endfor %}
        </tr>
    </table>
{% endblock %}